version: "3.9"

services:
  redis:
    image: redis:latest
    container_name: redis-hub-games
    ports:
      - "6379:6379"
    restart: unless-stopped

  backend:
    build: ./backend
    container_name: backend-hub-games
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
    depends_on:
      - redis

  frontend:
    build: ./frontend
    container_name: frontend-hub-games
    ports:
      - "4000:3000"
    volumes:
      - ./frontend:/app
    command: ["npm", "run", "dev"]
    depends_on:
      - backend
